.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.percentage__number--mod {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .top {
    font-size: 11px;
    line-height: 1;
    display: block;
  }
  .body {
    display: block;
    line-height: 1;
    font-size: 24px;
  }
  .bottom {
    font-size: 11px;
    display: block;
    line-height: 1;
  }
}
.imboxlist__item .imbox {
  overflow: hidden;
  height: 100%;
}

.as-gift {
  display: block;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  background-color: #3db32d;
  padding: 20px 32px;
  position: relative;
  z-index: 10;
  margin-bottom: 18px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3db32d;
    position: absolute;
    top: 0;
    left: -100%;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3db32d;
    position: absolute;
    top: 0;
    right: -100%;
  }
}

// .imboxlist__item {
//   min-height: 100%;
// }

.imboxlist--grid {
  display: grid;
  gap: 32px 0;
  grid-template-columns: 1fr 1fr 1fr;

  .imboxlist__item {
    width: 100%;
  }
  .imbox__center {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
  }
  .imbox__body {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }
  .imbox__kit {
    margin-top: auto;
  }
}

.imbox__percentages {
  max-width: max-content;
  .imbox__item:not(:last-of-type) {
    margin-right: 12px;
  }
  .imbox__item {
    max-width: calc(1 / 2 * 100%);
    width: initial;
  }
}

.promo-green {
  border-radius: 15px;
  background-color: #3db32d;
  color: #fff;
  padding: 22px 60px 32px 46px;
  margin-bottom: 32px;

  * + & {
    margin-top: 32px;
  }

  h3 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
    text-transform: initial;
    font-weight: 600;
  }
  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
.accordions {
  margin-bottom: 32px;
}

.accordion {
  border-bottom: 1px solid #e5e6e9;
  padding: 25px 0;

  &:first-of-type {
    border-top: 1px solid #e5e6e9;
  }
}

.accordion__question {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 1fr 30px;

  font-size: 24px;
  text-transform: initial;
}
.accordion__title {
  margin: 0;
  font-size: 24px;
  text-transform: initial;
}

.accordion__answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #888ea6;
  font-size: 14px;
}

.accordion__answer p:last-of-type {
  margin-bottom: 0;
}

.accordion.active .accordion__answer {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 10px;
  padding-top: 23px;
}

.accordion__question {
  svg {
    transition: all 0.3s;
  }
  &:hover {
    color: #445ad0;

    svg {
      scale: 1.2;
    }
  }
}

.accordion.active .accordion__question {
  svg {
    transform: rotate(180deg);
  }
}

.imbox__percentage {
  margin-bottom: 13px;
}

.sorting-tabs {
  padding: 64px 0 10px;
  &__button {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase ;
    max-width: max-content;
    border-radius: 5px;
    color: #445AD0;
    background-color: #ECEEF7;
    padding: 10px 14px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;

    &:hover {
      color: #fff;
      background-color: #445AD0;
    }

    &.active {
      color: #fff;
      background-color: #EC4135;
    }
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  li:not(:last-of-type) {
    margin-right: 6px;
  }
}

@media (max-width: 1280px) {
  .imboxlist--grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .imboxlist--grid {
    grid-template-columns: 1fr;
  }
  .promo-green {
    padding: 23px 32px 32px;
  }
  .accordion {
    padding: 16px 0;
  }
  .accordion__title {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .modal__content {
    padding: 0 12px;
  }
  .promo-green p {
    font-size: 14px;
  }
}

@media (min-width: 230px) {
  .modal .connectme {
    margin: 55px 32px 0;
  }
  .promo-green h3 {
    font-size: 16px;
  }
}

@media (min-width: 230px) {
  .modal .connectme {
    margin: 55px 12px;
  }
}
