.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.percentage__number--mod {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.percentage__number--mod .top {
  font-size: 11px;
  line-height: 1;
  display: block;
}
.percentage__number--mod .body {
  display: block;
  line-height: 1;
  font-size: 24px;
}
.percentage__number--mod .bottom {
  font-size: 11px;
  display: block;
  line-height: 1;
}

.imboxlist__item .imbox {
  overflow: hidden;
  height: 100%;
}

.as-gift {
  display: block;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  background-color: #3db32d;
  padding: 20px 32px;
  position: relative;
  z-index: 10;
  margin-bottom: 18px;
}
.as-gift::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #3db32d;
  position: absolute;
  top: 0;
  left: -100%;
}
.as-gift::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #3db32d;
  position: absolute;
  top: 0;
  right: -100%;
}

.imboxlist--grid {
  display: grid;
  gap: 32px 0;
  grid-template-columns: 1fr 1fr 1fr;
}
.imboxlist--grid .imboxlist__item {
  width: 100%;
}
.imboxlist--grid .imbox__center {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}
.imboxlist--grid .imbox__body {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.imboxlist--grid .imbox__kit {
  margin-top: auto;
}

.imbox__percentages {
  max-width: max-content;
}
.imbox__percentages .imbox__item:not(:last-of-type) {
  margin-right: 12px;
}
.imbox__percentages .imbox__item {
  max-width: 50%;
  width: initial;
}

.promo-green {
  border-radius: 15px;
  background-color: #3db32d;
  color: #fff;
  padding: 22px 60px 32px 46px;
  margin-bottom: 32px;
}
* + .promo-green {
  margin-top: 32px;
}
.promo-green h3 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  text-transform: initial;
  font-weight: 600;
}
.promo-green p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.accordions {
  margin-bottom: 32px;
}

.accordion {
  border-bottom: 1px solid #e5e6e9;
  padding: 25px 0;
}
.accordion:first-of-type {
  border-top: 1px solid #e5e6e9;
}

.accordion__question {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 1fr 30px;
  font-size: 24px;
  text-transform: initial;
}

.accordion__title {
  margin: 0;
  font-size: 24px;
  text-transform: initial;
}

.accordion__answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #888ea6;
  font-size: 14px;
}

.accordion__answer p:last-of-type {
  margin-bottom: 0;
}

.accordion.active .accordion__answer {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 10px;
  padding-top: 23px;
}

.accordion__question svg {
  transition: all 0.3s;
}
.accordion__question:hover {
  color: #445ad0;
}
.accordion__question:hover svg {
  scale: 1.2;
}

.accordion.active .accordion__question svg {
  transform: rotate(180deg);
}

.imbox__percentage {
  margin-bottom: 13px;
}

.sorting-tabs {
  padding: 64px 0 10px;
}
.sorting-tabs__button {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  max-width: max-content;
  border-radius: 5px;
  color: #445ad0;
  background-color: #eceef7;
  padding: 10px 14px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}
.sorting-tabs__button:hover {
  color: #fff;
  background-color: #445ad0;
}
.sorting-tabs__button.active {
  color: #fff;
  background-color: #ec4135;
}
.sorting-tabs ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sorting-tabs li:not(:last-of-type) {
  margin-right: 6px;
}

@media (max-width: 1280px) {
  .imboxlist--grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .imboxlist--grid {
    grid-template-columns: 1fr;
  }
  .promo-green {
    padding: 23px 32px 32px;
  }
  .accordion {
    padding: 16px 0;
  }
  .accordion__title {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .modal__content {
    padding: 0 12px;
  }
  .promo-green p {
    font-size: 14px;
  }
}
@media (min-width: 230px) {
  .modal .connectme {
    margin: 55px 32px 0;
  }
  .promo-green h3 {
    font-size: 16px;
  }
}
@media (min-width: 230px) {
  .modal .connectme {
    margin: 55px 12px;
  }
}
@-webkit-keyframes CallBackWidget_hoverWave__aRkHr {
  0% {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 0 rgba(244, 159, 39, 0.2), 0 0 0 0 rgba(244, 159, 39, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 15px rgba(244, 159, 39, 0.3), 0 0 0 0 rgba(244, 159, 39, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 30px transparent, 0 0 0 26.7px rgba(244, 159, 39, 0.07);
  }
  to {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 30px transparent, 0 0 0 40px transparent;
  }
}
@keyframes CallBackWidget_hoverWave__aRkHr {
  0% {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 0 rgba(244, 159, 39, 0.2), 0 0 0 0 rgba(244, 159, 39, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 15px rgba(244, 159, 39, 0.3), 0 0 0 0 rgba(244, 159, 39, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 30px transparent, 0 0 0 26.7px rgba(244, 159, 39, 0.07);
  }
  to {
    box-shadow: 0 8px 10px rgba(244, 159, 39, 0.3), 0 0 0 30px transparent, 0 0 0 40px transparent;
  }
}
@-webkit-keyframes CallBackWidget_shake__TAaoR {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
  }
  20% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }
  30% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
  }
  40% {
    transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    -webkit-transform: rotate(7.5deg);
  }
  50% {
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
  60% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }
  70% {
    transform: rotate(-4.28571deg);
    -ms-transform: rotate(-4.28571deg);
    -webkit-transform: rotate(-4.28571deg);
  }
  80% {
    transform: rotate(3.75deg);
    -ms-transform: rotate(3.75deg);
    -webkit-transform: rotate(3.75deg);
  }
  90% {
    transform: rotate(-3.33333deg);
    -ms-transform: rotate(-3.33333deg);
    -webkit-transform: rotate(-3.33333deg);
  }
  to {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@keyframes CallBackWidget_shake__TAaoR {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
  }
  20% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }
  30% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
  }
  40% {
    transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    -webkit-transform: rotate(7.5deg);
  }
  50% {
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
  60% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }
  70% {
    transform: rotate(-4.28571deg);
    -ms-transform: rotate(-4.28571deg);
    -webkit-transform: rotate(-4.28571deg);
  }
  80% {
    transform: rotate(3.75deg);
    -ms-transform: rotate(3.75deg);
    -webkit-transform: rotate(3.75deg);
  }
  90% {
    transform: rotate(-3.33333deg);
    -ms-transform: rotate(-3.33333deg);
    -webkit-transform: rotate(-3.33333deg);
  }
  to {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
body {
  position: relative;
}

.custom-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}
.custom-overlay.show {
  opacity: 1;
  pointer-events: initial;
}

.custom-vijet__btn-call {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 999;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f49f27;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  animation: CallBackWidget_hoverWave__aRkHr 1s linear infinite;
}
.custom-vijet__btn-call svg {
  -webkit-animation: CallBackWidget_shake__TAaoR 1.8s linear infinite;
  animation: CallBackWidget_shake__TAaoR 1.8s linear infinite;
}
.custom-vijet__btn-call:hover {
  transform: scale(1.1);
}
.custom-vijet__btn-call:active {
  transform: scale(0.9);
}
.custom-vijet__btn-call::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: pulse 2s linear infinite;
}
.custom-vijet__btn-call:focus::after {
  animation: ripple 1s linear infinite;
}